.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  top: 3em;
  text-align: center;
  max-width: 90vh;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: Arial, sans-serif;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  border-radius: 4px;
  gap: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.rightColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #555;
  margin-bottom: 1rem;
  font-family: Arial, sans-serif;
}

.label {
  color: #000000;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.value {
  color: #000000;
  font-size: 1.4rem;
}

.button {
  display: flex;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  width: fit-content;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

/* Dark Mode Overrides */
:global(body.dark-mode) .container {
  background-color: #343541;
  border: 1px solid #565869;
  color: #ffffff;
}

:global(body.dark-mode) .header {
  color: #ffffff;
  margin-bottom: 1rem;
}

:global(body.dark-mode) .details {
  color: #ffffff;
}

:global(body.dark-mode) .label {
  color: #ffffff;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

:global(body.dark-mode) .value {
  color: #ffffff;
  font-size: 1.4rem;
}

:global(body.dark-mode) .button {
  background-color: #3498db;
}

:global(body.dark-mode) .button:hover {
  background-color: #2678b0;
}
