.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 45em;
  overflow: auto;
  gap: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin: 0 1em;
  margin-bottom: 60px;
}

.buttonGroup {
  margin-top: 2.5em;
  display: flex;
  justify-content: center;
}

.speaker {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .container {
    height: 68vh;
  }
}

.speakerHeader {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.speakerDetails {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.button {
  max-width: 10rem;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.viewButton {
  background-color: #2678b0;
  color: #fff;
}

.viewButton:hover {
  background-color: #0056b3;
}

.deleteButton {
  background-color: #dc3546;
  color: #fff;
}

.deleteButton:hover {
  background-color: #b02a37;
}

.editButton {
  background-color: #2678b0;
}

/* Dark Mode Overrides */
:global(body.dark-mode) .container {
  background-color: #343541;
  border: 1px solid #565869;
  color: #ffffff;
}

:global(body.dark-mode) .speaker {
  background-color: #434654;
  border: 1px solid #565869;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

:global(body.dark-mode) .speakerHeader {
  color: #ffffff;
}

:global(body.dark-mode) .speakerDetails {
  color: #ffffff;
}

:global(body.dark-mode) .viewButton {
  background-color: #2678b0;
}

:global(body.dark-mode) .viewButton:hover {
  background-color: #3498db;
}

:global(body.dark-mode) .deleteButton {
  background-color: #962626;
}

:global(body.dark-mode) .deleteButton:hover {
  background-color: #b02a37;
}

:global(body.dark-mode) .editButton {
  background-color: #2678b0;
}

:global(body.dark-mode) .editButton:hover {
  background-color: #3498db;
}
