.container {
  position: relative;
  top: 3em;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  margin-bottom: 140px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.details {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}

.talksContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 8px;
  padding: 0.5rem;
}

.talkCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40vh;
  background-color: #f9f9f9;
  padding: 10px;
  border-left: 4px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.talkTitle {
  font-size: 1rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 0.5rem;
}

.talkTime {
  font-size: 0.8rem;
  color: #666;
  margin: 3px 0;
}

.talkSpeaker {
  font-size: 0.8rem;
  color: #666;
  margin: 3px 0;
}

.noTalksMessage {
  font-size: 1rem;
  color: #999;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
}

.button {
  padding: 0.75rem 1.5rem;
  width: 10rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.talkCard:hover {
  background-color: #e6f0ff;
  transform: translateY(-2px);
}

.button:hover {
  background-color: #0056b3;
}

/* Dark Mode Overrides */
:global(body.dark-mode) .container {
  background-color: #343541;
  border: 1px solid #565869;
  color: #ffffff;
}

:global(body.dark-mode) .header,
:global(body.dark-mode) .details,
:global(body.dark-mode) .talkTitle,
:global(body.dark-mode) .talkTime,
:global(body.dark-mode) .talkSpeaker {
  color: #ffffff;
}

:global(body.dark-mode) .talkCard {
  background-color: #565869;
  border-left: 4px solid #3498db;
}

:global(body.dark-mode) .button {
  background-color: #3498db;
}

:global(body.dark-mode) .button:hover {
  background-color: #2678b0;
}
