@media (max-width: 930px) {
  h1.heading {
    position: relative;
    top: 40px;
  }
}

.container {
  display: flex;
  max-width: 75em;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #ffffff;
  margin: auto;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 60px;
  }
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #000;
}

/* Dark Mode Overrides */
:global(body.dark-mode) .container {
  background-color: #343541;
  color: #ffffff;
}

:global(body.dark-mode) .heading {
  color: #ffffff;
}
